<div class="loading">
<p>U</p>
<p>Ü</p>
</div>

<button class="btn btn--header btn--menu">
  <div class="info">
    <svg enable-background="new 0 0 294.843 294.843" version="1.1" viewBox="0 0 294.84 294.84" xmlns="http://www.w3.org/2000/svg">
      <path d="m148.54-721.77c-2.342-2.343-6.143-2.343-8.484 0l-78.454 78.453c-13.786-10.106-30.773-16.092-49.138-16.092-3.313 0-6 2.687-6 6 0 3.314 2.687 6 6 6 15.051 0 29.019 4.7 40.538 12.692l-22.293 22.293c-5.491-2.77-11.687-4.34-18.245-4.34-3.313 0-6 2.687-6 6s2.687 6 6 6c3.18 0 6.237 0.528 9.097 1.489l-89.315 89.315-9.226-9.212c-1.125-1.123-2.649-1.754-4.239-1.754h-51.326v-102.36h51.326c1.59 0 3.114-0.631 4.239-1.754l54.926-54.842v96.776c0 3.313 2.687 6 6 6s6-2.687 6-6v-111.25c0-2.426-1.461-4.613-3.702-5.542-2.242-0.928-4.821-0.417-6.538 1.296l-63.407 63.312h-54.844c-3.313 0-6 2.687-6 6v114.36c0 3.313 2.687 6 6 6h54.844l7.462 7.451-66.548 66.549c-2.343 2.343-2.343 6.142 0 8.485 1.171 1.171 2.707 1.757 4.243 1.757s3.071-0.586 4.243-1.757l66.555-66.555 47.454 47.382c1.147 1.146 2.681 1.754 4.241 1.754 0.773 0 1.554-0.149 2.297-0.458 2.241-0.929 3.702-3.117 3.702-5.542v-74.246c0-3.313-2.687-6-6-6s-6 2.687-6 6v59.776l-37.208-37.152 91.417-91.418c5.517 5.227 8.968 12.613 8.968 20.794 0 15.803-12.856 28.66-28.659 28.66-3.313 0-6 2.687-6 6s2.687 6 6 6c22.42 0 40.659-18.24 40.659-40.66 0-11.49-4.798-21.874-12.487-29.275l21.659-21.659c13.237 12.953 21.473 30.996 21.473 50.934 0 39.317-31.986 71.303-71.304 71.303-3.313 0-6 2.686-6 6 0 3.313 2.687 6 6 6 45.934 0 83.304-37.37 83.304-83.303 0-23.247-9.582-44.29-24.992-59.415l77.763-77.763c2.342-2.343 2.342-6.142-1e-3 -8.485z"/>
      <g transform="matrix(.57039 0 0 .5704 1.3999 1.3982)" stroke="#000" stroke-width="0.0">
        <path d="m195.47 357.78c4.472 0 8.096-3.625 8.096-8.096s-3.624-8.096-8.096-8.096c-98.852 0-179.28-80.422-179.28-179.28 0-4.471-3.625-8.096-8.096-8.096-4.472 0-8.096 3.625-8.096 8.096 0 52.252 20.32 101.35 57.22 138.25 36.898 36.898 85.996 57.22 138.25 57.22z"/>
        <path d="m454.78 211.44c-36.898-36.899-85.997-57.22-138.25-57.22-4.472 0-8.096 3.625-8.096 8.096s3.624 8.096 8.096 8.096c98.852 0 179.28 80.422 179.28 179.28 0 4.471 3.624 8.096 8.096 8.096 4.471 0 8.096-3.625 8.096-8.096 0-52.251-20.32-101.35-57.22-138.25z"/>
        <path d="m285.17 359.32c-3.161-3.162-8.286-3.162-11.45 0-69.899 69.899-183.64 69.898-253.53 0-3.162-3.162-8.287-3.162-11.45 0-3.162 3.161-3.162 8.287 0 11.449 36.949 36.948 86.034 57.296 138.22 57.296s101.27-20.347 138.22-57.296c3.163-3.161 3.162-8.287 1e-3 -11.449z"/>
        <path d="m226.83 152.68c1.581 1.581 3.653 2.372 5.726 2.372 2.072 0 4.143-0.79 5.726-2.372 69.899-69.897 183.64-69.898 253.53 0 3.162 3.162 8.287 3.162 11.45 0 3.162-3.161 3.162-8.287 0-11.449-36.948-36.948-86.033-57.296-138.22-57.296s-101.27 20.348-138.22 57.296c-3.163 3.161-3.163 8.287-1e-3 11.449z"/>
        <path d="m349.69 308.44c-4.471 0-8.096 3.625-8.096 8.096-1e-3 98.852-80.424 179.28-179.28 179.28-4.472 0-8.096 3.625-8.096 8.096s3.624 8.096 8.096 8.096c52.253 0 101.35-20.32 138.25-57.22 36.9-36.898 57.221-85.996 57.222-138.25 1e-3 -4.471-3.623-8.096-8.096-8.096z"/>
        <path d="m162.31 203.56c4.471 0 8.096-3.625 8.097-8.096 1e-3 -47.927 18.637-92.959 52.478-126.8 33.84-33.841 78.871-52.477 126.8-52.475 4.471 0 8.096-3.625 8.096-8.096s-3.624-8.096-8.096-8.096h-6e-3c-52.248 0-101.34 20.32-138.24 57.217-36.899 36.899-57.221 85.997-57.222 138.25 0 4.47 3.624 8.095 8.097 8.095z"/>
        <path d="m359.32 226.83c-3.162 3.161-3.162 8.287 0 11.449 69.898 69.899 69.897 183.64-2e-3 253.53-3.162 3.161-3.162 8.287 0 11.449 1.581 1.581 3.654 2.372 5.726 2.372s4.144-0.791 5.726-2.371c36.947-36.948 57.295-86.034 57.295-138.22 1e-3 -52.182-20.346-101.27-57.293-138.22-3.163-3.162-8.289-3.162-11.452 0z"/>
        <path d="m146.95 287.54c2.072 0 4.144-0.791 5.725-2.372 3.162-3.161 3.162-8.287 0-11.449-69.899-69.9-69.899-183.64 0-253.54 3.162-3.162 3.162-8.288 0-11.45s-8.287-3.162-11.45 0c-36.947 36.948-57.295 86.034-57.295 138.22s20.347 101.27 57.295 138.22c1.581 1.582 3.653 2.372 5.725 2.372z"/>
        <path d="m303 278.64c4.278 1.288 8.798-1.136 10.088-5.416 1.679-5.567 2.529-11.364 2.529-17.229 0-32.876-26.747-59.623-59.623-59.623s-59.622 26.747-59.622 59.623 26.747 59.624 59.622 59.624c15.596 0 30.347-5.981 41.531-16.845 3.207-3.114 3.284-8.24 0.168-11.448-3.113-3.207-8.239-3.284-11.448-0.168-8.148 7.912-18.892 12.27-30.253 12.27-23.947 0-43.43-19.483-43.43-43.431 0-23.947 19.483-43.43 43.43-43.43s43.43 19.483 43.43 43.43c0 4.281-0.619 8.505-1.839 12.556-1.289 4.281 1.136 8.797 5.417 10.087z"/>
      </g>
    </svg>
  </div>
</button>
<button class="btn btn--header btn--sound">
  <div class="info info--off">
    <svg enable-background="new 0 0 294.843 294.843" version="1.1" viewBox="0 0 294.84 294.84" xmlns="http://www.w3.org/2000/svg">
      <path d="m251.49 69.611c-2.656 1.981-3.204 5.74-1.224 8.396 15.041 20.172 22.991 44.175 22.991 69.414 0 64.098-52.147 116.25-116.24 116.25-3.313 0-6 2.687-6 6 0 3.314 2.687 6 6 6 70.715 0 128.24-57.531 128.24-128.25 0-27.844-8.773-54.327-25.37-76.587-1.981-2.657-5.74-3.205-8.397-1.223z"/>
      <path d="m157.01 31.176c22.113 0 43.62 6.231 62.197 18.02 0.997 0.633 2.109 0.935 3.209 0.935 1.986 0 3.929-0.985 5.072-2.786 1.775-2.798 0.946-6.505-1.852-8.281-20.503-13.011-44.233-19.888-68.627-19.888-3.313 0-6 2.687-6 6s2.688 6 6.001 6z"/>
      <path d="m293.08 1.757c-2.342-2.343-6.143-2.343-8.484 0l-78.454 78.453c-13.786-10.106-30.773-16.092-49.138-16.092-3.313 0-6 2.687-6 6 0 3.314 2.687 6 6 6 15.051 0 29.019 4.7 40.538 12.692l-22.293 22.293c-5.491-2.77-11.687-4.34-18.245-4.34-3.313 0-6 2.687-6 6s2.687 6 6 6c3.18 0 6.237 0.528 9.097 1.489l-89.315 89.315-9.226-9.212c-1.125-1.123-2.649-1.754-4.239-1.754h-51.326v-102.36h51.326c1.59 0 3.114-0.631 4.239-1.754l54.926-54.842v96.776c0 3.313 2.687 6 6 6s6-2.687 6-6v-111.25c0-2.426-1.461-4.613-3.702-5.542-2.242-0.928-4.821-0.417-6.538 1.296l-63.407 63.312h-54.844c-3.313 0-6 2.687-6 6v114.36c0 3.313 2.687 6 6 6h54.844l7.462 7.451-66.548 66.549c-2.343 2.343-2.343 6.142 0 8.485 1.171 1.171 2.707 1.757 4.243 1.757s3.071-0.586 4.243-1.757l66.555-66.555 47.454 47.382c1.147 1.146 2.681 1.754 4.241 1.754 0.773 0 1.554-0.149 2.297-0.458 2.241-0.929 3.702-3.117 3.702-5.542v-74.246c0-3.313-2.687-6-6-6s-6 2.687-6 6v59.776l-37.208-37.152 91.417-91.418c5.517 5.227 8.968 12.613 8.968 20.794 0 15.803-12.856 28.66-28.659 28.66-3.313 0-6 2.687-6 6s2.687 6 6 6c22.42 0 40.659-18.24 40.659-40.66 0-11.49-4.798-21.874-12.487-29.275l21.659-21.659c13.237 12.953 21.473 30.996 21.473 50.934 0 39.317-31.986 71.303-71.304 71.303-3.313 0-6 2.686-6 6 0 3.313 2.687 6 6 6 45.934 0 83.304-37.37 83.304-83.303 0-23.247-9.582-44.29-24.992-59.415l77.763-77.763c2.342-2.343 2.342-6.142-1e-3 -8.485z"/>
    </svg>
  </div>
  <div class="info none info--on">
    <svg enable-background="new 0 0 294.843 294.843" version="1.1" viewBox="0 0 294.84 294.84" xmlns="http://www.w3.org/2000/svg">
      <g transform="translate(0,4.794)">
        <path d="m205.92 24.039c-3.065-1.265-6.571 0.193-7.835 3.256-1.265 3.063 0.193 6.571 3.256 7.835 43.688 18.036 71.917 60.231 71.917 107.5 0 64.098-52.147 116.24-116.25 116.24-3.314 0-6 2.687-6 6s2.686 6 6 6c70.715 0 128.25-57.53 128.25-128.24 0-52.142-31.142-98.691-79.338-118.59z"/>
        <path d="m157.01 225.93c45.934 0 83.304-37.37 83.304-83.303s-37.37-83.303-83.304-83.303c-3.313 0-6 2.687-6 6 0 3.314 2.687 6 6 6 39.317 0 71.304 31.986 71.304 71.303s-31.987 71.303-71.304 71.303c-3.313 0-6 2.686-6 6s2.687 6 6 6z"/>
        <path d="m176.54 163.6c-2.424 2.258-2.559 6.055-0.3 8.479 1.182 1.269 2.784 1.911 4.392 1.911 1.464 0 2.932-0.533 4.088-1.61 8.231-7.667 12.952-18.513 12.952-29.757 0-22.419-18.24-40.659-40.66-40.659-3.313 0-6 2.687-6 6s2.687 6 6 6c15.803 0 28.66 12.856 28.66 28.659-1e-3 8.042-3.244 15.491-9.132 20.977z"/>
        <path d="m130.79 14.84c-2.241-0.928-4.821-0.417-6.538 1.296l-63.408 63.312h-54.844c-3.313 0-6 2.687-6 6v114.36c0 3.313 2.687 6 6 6h57.326c3.313 0 6-2.687 6-6s-2.687-6-6-6h-51.326v-102.36h51.326c1.59 0 3.114-0.631 4.239-1.754l54.926-54.842v215.55l-29.627-29.583c-2.346-2.341-6.145-2.339-8.485 7e-3 -2.341 2.345-2.338 6.144 7e-3 8.485l39.867 39.806c1.147 1.146 2.681 1.754 4.241 1.754 0.773 0 1.554-0.149 2.297-0.458 2.241-0.929 3.702-3.117 3.702-5.542v-244.49c-2e-3 -2.426-1.463-4.613-3.703-5.542z"/>
      </g>
    </svg>
  </div>
</button>

<header class="menu">
  <a href="https://abrupt.cc/frederic-neyrat/cosmos-experimental/" target="_blank" rel="noopener" class="title__link">{{ .Site.Params.Titre }}</a>
  <div class="credits">
    {{ .Site.Params.credits | safeHTML }}
    <div class="instructions">
      <div class="instructions__desktop">
        (<em>La souris et les flèches directionnelles permettent de s’orienter et de se déplacer dans ce cosmos négatif.</em>)
      </div>
      <div class="instructions__mobile">
        (<em>La fonction de zoom permet de s’orienter et de se déplacer dans ce cosmos négatif.</em>)
      </div>
    </div>
  </div>
</header>
