{{ define "main" }}

<audio class="son" loop preload>
  <source src="/etc/icare-noir.mp3" type="audio/mpeg" />
</audio>

<div id="container"></div>

<div class="textes">
<button class="textes__close">(X)</button>
{{ partial "typography.html" . }}
</div>

{{ end }}
