/* Class struggle */

.container {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 11000;
  background: rgba(0, 0, 0, 0.62);

  a {
    margin: 0;
    color: var(--color-fg);
    /* text-decoration: unset; */
    padding: 0.3em;
    /* background: linear-gradient(to top, transparent 48%, var(--color-fg) 48%, var(--color-fg) 52%, transparent 52%); */
    text-decoration: line-through solid var(--color-fg);
  }

  a:hover,
  a:active,
  a:focus {
    color: var(--color-fg);
    background: unset;
    text-decoration: unset;
  }

  .title__link {
    background: unset;
    font-size: 1.6em;
    /* margin: 25% 0 1em; */
    margin: 1em 0 1em;
    padding: 0;
    font-weight: bold;
  }
}

.menu.show--menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 50em) {
  /* 800px */
  .menu.show--menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    .title__link {
      font-size: 3em;
      /* margin: 10% 0 1em; */
      margin: 15% 0 1em;
    }
  }
}

@media (max-width: 50em) and (min-height: 700px) {
  .menu {
    .title__link {
      margin: 30% 0 1em;
    }
  }
}

@media (max-width: 60em) and (max-height: 600px) and (orientation: landscape) {
  .menu {
    .title__link {
      font-size: 1.6em;
      margin: 0.2em 0;
    }
  }
}

@media (min-width: 50em) and (max-height: 600px) and (orientation: landscape) {
  .menu {
    .title__link {
      font-size: 1.6em;
      margin: 1em 0 1em;
    }
  }
}

.home {
  /* display: none; */
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: var(--color-bg);
  z-index: 1;
  /* top: 0; */
  /* left: 0; */
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu .credits {
  font-size: 0.8em;
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 0; */
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0em 1em 2em;
  color: var(--color-fg);

  a {
    display: inline-block;
    margin: 0;
    color: var(--color-fg);
    padding: 0.3em;
    text-decoration: unset;
    background: linear-gradient(to top, transparent 48%, var(--color-fg) 48%, var(--color-fg) 52%, transparent 52%);
  }

  a:hover,
  a:active,
  a:focus {
    color: var(--color-fg);
    background: unset;
  }
}

.instructions {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  color: var(--color-fg);
}
.instructions__mobile {
  display: none;
}
.instructions__desktop {
  display: block;
}

@media (hover: none) and (pointer: coarse) {
  .instructions__mobile {
    display: block;
  }
  .instructions__desktop {
    display: none;
  }
}


.btn.none,
.none,
.hide {
  display: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  /* background: pink; */
}

.btn {
  cursor: pointer;
  /* margin: 1.62em; */
  color: var(--color-fg);
  font-size: 1.4em;
  margin: 0;
  padding: 0 0.5em;
  transition: all 0.5s linear;

  &:hover,
  &:active,
  &:focus {
    transform: rotate(360deg);
    transform-origin: center center;
  }
}

.btn--menu {
  z-index: 12000;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0.3em;
  width: 1.4em;
  height: 1.4em;
  /* background-color: pink; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn--sound {
  z-index: 12000;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0.3em;
  width: 1.4em;
  height: 1.4em;
  /* background-color: pink; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* height: 100%; */
  svg {
    display: inline-block;
    width: 100%;
    height: 100%;
    /* background-color: lime; */
  }
}

.info.none {
  display: none;
}

.textes {
  /* z-index: 20; */
  display: none;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* touch-action: none; */
  /* user-select: none; */
  width: 80vw;
  max-width: 800px;
  max-height: 80vh;
  color: var(--color-fg);
  font-size: 1em;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.62);
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  * {
    touch-action: pan-y;
  }

  &__close {
  z-index: 12000;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0.2em;
  }
}

@media (min-width: 50em) {
  /* 800px */
  .textes {
    width: 62vw;
    max-height: 80vh;
  }
}

.texte {
  display: none;
  opacity: 0;
  margin: 0 auto;
  padding: 1em 2em;
  max-width: 66ch;
}

.textes.show,
.texte.show {
  display: block;
  opacity: 1;
}

.appear {
  animation: appear 1s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* Scrollbar with simplebar.js */
[data-simplebar] {
  /* position: relative; */
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
  height: 100%;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: var(--color-fg);
  border-radius: 0;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s 0.5s linear;
}

.simplebar-scrolling .simplebar-scrollbar:before,
.simplebar-hover .simplebar-scrollbar:before,
.simplebar-mouse-entered .simplebar-scrollbar:before {
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0s;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0s;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  /* width: 11px; */
  width: 6px;
}

.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar !important;
}

.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.loading {
  font-family: 'Crimson', serif;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 1s ease-in-out 0.4s;
  background: var(--color-bg);
}

.loading p {
  position: absolute;
  font-size: 5em;
  color: var(--color-fg);
  margin: 0;
}
.loading p:nth-child(2) {
  font-size: 5em;
  animation: loadingFade 1s ease infinite;
}

.pace-done .loading {
  opacity: 0;
  z-index: -1;
}

/* For pace.js */
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 200000;
  position: fixed;
  margin: auto;
  top: 6em;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  width: 200px;
  background: var(--color-fg);
  border: 1px solid var(--color-fg);
  overflow: hidden;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: var(--color-bg);
}

.pace.pace-inactive {
  display: none;
}

@keyframes loadingFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.error {
  text-align: center;
  position: fixed;
  font-size: 1.62em;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 1;
  /* background: rgba(0, 0, 0, 0.62); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
